html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-tile {
  background-color: hotpink;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  text-decoration: line-through transparent;
  transition: text-decoration 0.5s ease-in-out;
}

li:hover {
  text-decoration: line-through;
}
