:root {
  --background-border: 0%;
}

html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

header {
  position: relative;
  padding: 1rem;
  background-color: gold;
  height: 20%;
}

#reset-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 0;
  font-size: 2rem;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}
body {
  height: 90vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background: linear-gradient(
    to right,
    dodgerblue var(--background-border),
    white var(--background-border)
  );
  font-size: 8rem;
  /* this prevents selecting the text */
  user-select: none;
}
