html {
  box-sizing: border-box;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  _background-color: aquamarine;
}

header {
  position: absolute;
  top: 0;
  background-color: aquamarine;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#button-field {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  gap: 1rem;
}

.header-button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 0;
  color: black;
  background-color: white;
}

.header-button-greyed {
  border: 0;
  color: grey;
  background-color: lightgrey;
}

main {
  height: 100%;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.lottery-number {
  margin-top: 30vh;
  width: 10vh;
  height: 10vh;
  background-color: aliceblue;
}
